<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$seo['title']}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <link href="{$_W['siteroot']}app/resource/css/common.min.css?v=20170802" rel="stylesheet">
    <link href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css" rel="stylesheet">
    <link href="//at.alicdn.com/t/font_501150_3h54257x9w6zuxr.css" rel="stylesheet">
    <link href="{MODULE_URL}static/css/index.css?v=2" rel="stylesheet">
    <script src="https://cdn.bootcss.com/layer/3.0.3/mobile/layer.min.js"></script>
    <link href="https://cdn.bootcss.com/layer/3.0.3/mobile/need/layer.css" rel="stylesheet">
</head>
<body>