{template 'header'}
<div id="app">
    <paihang></paihang>
</div>
{template 'footer'} 
{template 'paihang/index'} 
<script>
    var baseUrl = '{php echo $this->createMobileUrl("api")}' + '&action=';
    var http = axios.create({
        transformRequest: function (data) {
            layer.open({ type: 2 });
            return data;
        },
        transformResponse: function (data) {
            layer.closeAll();
            return JSON.parse(data);
        }
    })
</script>
<script>
    var app = new Vue({
        el: '#app'
    })
</script>
