{template 'header'}
<div id="app">
    <share></share>
</div>
<script>
    var baseUrl = '{php echo $this->createMobileUrl("api")}' + '&action=';
    var http = axios.create({
        transformRequest: function (data) {
            layer.open({ type: 2 });
            return data;
        },
        transformResponse: function (data) {
            layer.closeAll();
            return JSON.parse(data);
        }
    })
</script>
<script>
    var app = new Vue({
        el: '#app'
    })
    console.log(app);
</script>