<script type="text/x-template" id='share-index'>
    <div>
        <share></share>
        <img src="/app/qr_code/bg.png" style="width:100%;height:100%" class="image">
        <img :src=" '/app/'+this.imgPath.path" style="width: 180px;height: 180px;transform: translate(-51%, -50%);position: absolute;top: 55%;left: 50%;z-index: 4;">
    </div>
</script>
<script>
    var shares = Vue.component('share-index', {
        template: '#share-index',
        data: function (){
            return {
                imgPath:{
                    path: ''
                }
            }
        },
        created: function () {
            var self = this;
            http({
                url: baseUrl+'share'
            }).then(function(res){
                res = res.data;
//                self.imgPath = res.data;
                self.imgPath.path = res.data
            })
        }
    })
</script>
