<style>
</style>
<script type="text/x-template" id='lianxu-index'>
    <div id="lianxu">
        <div style="position:relative;">
            <img src="{php echo $this->config['lianxu_imgurl']}" style="width:100%">
        </div>
        <div  class="detail">{php echo $this->config['lianxu_detail']}</div>
    </div>
</script>
<script>
    var lianxuIndex = Vue.component('lianxu-index', {
        template: '#lianxu-index',
        data: function () {
            return {
                id: '',
                lianxu: {},
            }
        },
        created: function () {
            if(this.$route.query.id) {
                this.id = this.$route.query.id;
            }
            console.log(this.config);
        },
        mounted: function () {
        },
        methods: {
            
        }
    });
</script>