<script type="text/x-template" id='my-index'>
    <div>
        <my-top></my-top>
        <calendar :events="events" :selects="selects"></calendar>
    </div>
</div>
</script>
{template 'my/my-top'} 
{template 'my/calendar'}
<script>
    var myIndex = Vue.component('my-index', {
        template: '#my-index',
        data: function (){
            return {
                events: {
                },
                selects: [],
            }
        },
        created: function () {
            var self = this;
            http({
                url: baseUrl+'getdatelist'
            }).then(function(res){
                res = res.data;
                if(res.ret==0) {
                    var data = res.data;
                    self.events = data.events;
                    self.selects = data.selects;
                }
            })
        }
    })
</script>
